<section id="{{ site.about.section | default: "about" }}">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h2>{{ site.about.title | default: "About Us" }}</h2>
        <p class="lead">{{ site.about.lead }}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 text-center">
        <figure>
          <img src="assets/img/dr_amiot.png" class="img-fluid img-thumbnail rounded-circle" style="width: 80%" alt="Dr. Ursula Amiot" />
          <figcaption>Dr. Ursula Amiot</figcaption>
        </figure>
      </div>
      <div class="col-md-9">{{ site.about.text | markdownify }}</div>
    </div>
  </div>
</section>
